<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File"
				name="ConnectionLib"
				fileName="${specialfolder:folder=ApplicationData}/iiko/CashServer/Logs/ConnectionLib.log"
				layout="${longdate} | ${uppercase:${level}} | ${callsite:className=true:includeNamespace=false:methodName=false} | ${callsite:methodName=true:className=false:includeNamespace=false} | ${message}"
				archiveFileName="${specialfolder:folder=ApplicationData}/iiko/CashServer/Logs/${var:tillDir}/ConnectionLib_{#}.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="30"
				enableArchiveFileCompression="true"/>
	</targets>
	<rules>
		<logger name="ConnectionLib" minlevel="Info" writeTo="ConnectionLib"/>
	</rules>
</nlog>

